@import url('https://fonts.googleapis.com/css2?family=Lato&amp;display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
    /* Smooth and elastic easing */
}

.left-slide>div {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    margin: 0 auto;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}



.action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.action-buttons button:hover {
    background-color: #ddd;
    color: #444;
}

.dots-container {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.dot.active {
    background-color: #ff0000;
    transform: scale(1.2);
    /* Slightly enlarge active dot */
}

.right-slide div.highlight {
    /* border: 5px solid red; */
    transition: border 0.3s ease-in-out;
}

@media (max-width: 767.99px) {
    .left-slide {
        width: 100%;
        background-color: #f5f7eb;
    }

    .slider-container {
        background-color: #f5f7eb;
    }

    .action-buttons button {
        position: absolute;
        left: 50%;
        top: 17%;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 1199.98px) {
    .left-slide {
        width: 100%;
        background-color: #fff;
    }

    .slider-container {
        background-color: #fff;
    }

    .action-buttons button {
        position: absolute;
        left: 50%;
        top: 17%;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 1200px) {
    .left-slide {
        width: 50%;
        background-color: #fff;
    }

    .slider-container {
        background-color: #fff;
    }

    .action-buttons button {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
}